@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lufga");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 247, 251, 258;
        --color-secondary: 39, 39, 39;
        --color-white: 247, 251, 254;
        --radius: 0.5rem;
    }

    * {
        scroll-behavior: smooth;
    }

    html,
    body {
        font-family: "Outfit";
        /* background-color: #f3f4f6; */
        color: rgb(var(--color-secondary));
        margin: 0;
        padding: 0;
    }

    input[type="email"]::placeholder {
        color: white;
    }
    input[type="text"]::placeholder {
        color: white;
    }
    input[type="password"]::placeholder {
        color: white;
    }
}

.login-BG {
    background: url("assets/bg.jpg");
    background-size: contain;
}

@layer utilities {
    font-[Riccione] {
        font-family: "Riccione";
    }
    font-[Urbanist] {
        font-family: "Urbanist";
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
