@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/lufga");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 247, 251, 258;
        --color-secondary: 39, 39, 39;
        --color-white: 247, 251, 254;
        --radius: 0.5rem;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    * {
        scroll-behavior: smooth;
    }

    html,
    body {
        font-family: "Outfit", sans-serif;
        color: rgb(var(--color-secondary));
        margin: 0;
        padding: 0;
    }

    .authForm input[type="email"]::placeholder {
        color: white;
    }
    .authForm input[type="text"]::placeholder {
        color: white;
    }
    .authForm input[type="password"]::placeholder {
        color: white;
    }
    .authForm input[type="confirmpassword"]::placeholder {
        color: white;
    }
}

.login-BG {
    background: url("assets/bg.jpg");
    background-size: contain;
}

@layer utilities {
    font-[Riccione] {
        font-family: "Riccione";
    }
    font-[Urbanist] {
        font-family: "Urbanist";
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
